<nav class="l-document-editor__toolbar c-document-toolbar js-document-toolbar">
    <div class="c-document-toolbar__controls-group">
        <a href="{{ back_link }}" class="c-document-toolbar__back-button" aria-label="Back">
            <svg class="c-document-toolbar__back-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__back-arrow"/></svg>
        </a>
    </div>

    <div class="c-document-toolbar__controls-group">
        {% include '_breadcrumb_list.twig' %}
    </div>

    <div class="c-document-toolbar__controls-group">
        {% if mode is same as('create') %}
            <button class="c-document-toolbar__primary-button js-submit-document" type="button">
                Save
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__done"/></svg>
            </button>
        {% elseif mode is same as('edit') %}
            <a href="{{ view_url }}" class="c-document-toolbar__outline-button js-discard-changes">
                Discard changes
                <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__discard"/></svg>
            </a>
            <button class="c-document-toolbar__primary-button js-update-document" type="button">
                Save
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__done"/></svg>
            </button>
        {% elseif mode is same as('view') %}
            <copy-link link="{{ view_url }}" confirm-label="Link copied">
                <button class="c-document-toolbar__outline-button--icon-only js-button" type="button" aria-label="Copy a link to this doc to your clipboard">
                    <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__link"/></svg>
                </button>
            </copy-link>
            <a href="{{ edit_url }}" class="c-document-toolbar__primary-button">
                Edit this doc
                <svg class="c-document-toolbar__primary-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
            </a>
            <button class="c-document-toolbar__outline-button" type="button">
                More
                <svg class="c-document-toolbar__outline-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__more"/></svg>
            </button>
        {% endif %}
    </div>
</nav>
