{% extends 'base_layout.twig' %}

{% block page_content %}

<div class="l-document-editor__container js-document-editor-container">
    <div class="l-document-editor__content">
        {% include 'document/_document_toolbar.twig' with { mode: 'edit' } %}

        <main class="l-document-editor__body">
            <div class="l-document-editor__body-column--main c-document">
                {% include 'document/_document_header.twig' with { mode: 'edit' } %}

                <div class="c-document__content js-text-editor">{{ document_html|raw }}</div>
            </div>
        </main>
    </div>
</div>

{% endblock %}
