<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">Docs</span>
        </div>
    </div>
</header>

<div class="c-section-header--hide-at-small">
    <h1 class="c-section-header__title">{{ organization.name }} docs</h1>

    <p class="c-section-header__subheading">Your organisation’s doc library is great for stuff that’s of interest to everyone, like company policies</p>
</div>
