.DS_Store
yarn-error.log
/public-roots/app/public/build

###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/build
/var/
/vendor/
/node_modules/
coverage/
###< symfony/framework-bundle ###
