.DS_Store
yarn-error.log
/public-roots/assets/public/build
.phpunit.result.cache

###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/build
/var/
/vendor/
/node_modules/
coverage/
###< symfony/framework-bundle ###
