.DS_Store

###> symfony/framework-bundle ###
/.env
/public/bundles/
/public/build
/var/
/vendor/
/node_modules/
coverage/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###
