parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Property [a-zA-Z\\\]+::$[a-zA-Z]+ has no typehint specified.#'
        - '#Method [a-zA-Z\\\]+::[a-zA-Z]+\(\) has no return typehint specified.#'
        - '#Method [a-zA-Z\\\]+::[a-zA-Z]+\(\) has parameter \$[a-zA-Z]+ with no typehint specified.#'
