parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Cannot call method fetch(All)?\(\) on Doctrine\DBAL\Driver\Statement|int#'
        - '#Cannot call method [a-zA-Z]+\(\) on Carbon\Carbon|string.#'
