{% extends '_app_default_layout.twig' %}

{% block navigational_header %}
<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">People</span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<h1 class="c-page-title--hide-below-medium">People at {{ organization.name }}</h1>

<ol class="c-card-list--pad-bottom">
    {% for person in people_list %}
        {% include '_card_list_item.twig' with {
            avatar_initials: person.abbreviated_name,
            avatar_type: 'initials',
            link_href: person.route,
            timestamp: person.created,
            timestamp_label: 'Joined',
            title: person.name,
            description: person.job_role_or_title,
        } only %}
    {% endfor %}
</ol>

{% endblock %}
