server {

    fastcgi_buffers 8 16k;
    fastcgi_buffer_size 32k;
    more_clear_headers 'Server' 'X-Powered-By';

    listen 443 ssl;

    server_name assets.tryhleo.test;

    root /path/to/hleo/public-roots/assets/public/;

    ssl on;
    ssl_certificate /usr/local/etc/nginx/ssl/hleo/wildcard.tryhleo.test.crt;
    ssl_certificate_key /usr/local/etc/nginx/ssl/hleo/wildcard.tryhleo.test.key;

	ssl_session_timeout 5m;
 
    ssl_protocols SSLv2 SSLv3 TLSv1;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    client_max_body_size 10m;

    gzip on;
    gzip_types text/plain text/xml text/css application/x-javascript application/javascript application/json image/svg+xml;

    location ~ "^/\." {
        deny all;
    }

    #all other locations try other files first and go to our front controller if none of them exists
    location / {
        try_files $uri $uri/ $uri.html =404;
    }
}
