$editable-form-field-button-padding-left-right: 12px;
$editable-form-field-button-padding-top-bottom: 16px;
$editable-form-field-button-top-offset: -14px;
$editable-form-field-button-right-offset: -$editable-form-field-button-padding-left-right;
$editable-form-field-button-font-size: 12px;
$editable-form-field-button-line-height: $editable-form-field-button-font-size;

editable-form-field {
    position: relative;
}

editable-form-field .edit-button {
    background: transparent;
    border: 0;
    box-shadow: none;
    color: config-get(global, color, primary);
    font-size: $editable-form-field-button-font-size;
    font-weight: 600;
    line-height: $editable-form-field-button-line-height;
    padding:
        $editable-form-field-button-padding-top-bottom
        $editable-form-field-button-padding-left-right;
    position: absolute;
    right: $editable-form-field-button-right-offset;
    top: $editable-form-field-button-top-offset;
    text-transform: uppercase;
    @include font-smoothing;
}

editable-form-field .edit-button:focus {
    color: darken(config-get(global, color, primary), 12%);
    outline: 0;
    transform: scale(1.1);
}

editable-form-field .c-form__label-optional {
    display: none;
}

editable-form-field[editable] .c-form__label-optional {
    display: inline;
}
