{% extends 'onboarding/onboarding_layout.twig' %}

{% block content %}

<div class="l-splash-screen">
    <div class="l-splash-screen__dialog">
        <div class="l-splash-screen__dialog-content">
            <form class="c-signup-form js-invite-form">
                <div class="c-signup-form__header">
                    <h1 class="c-signup-form__title">Looking good</h1>
                    <p class="c-signup-form__subtitle">Your team space is set up. Collaboration is easier with more than one person, now might be a good time to invite your colleagues!</p>
                </div>

                {% if isApprovedEmailSignupSupported %}
                    <fieldset class="c-signup-form__field">
                        <div class="c-checkbox">
                            <input class="c-checkbox__input js-approved-email-signup" id="approved-email-signup" type="checkbox" autocomplete="off" aria-describedby="approved-email-reassurance" checked>
                            <label class="c-checkbox__label" for="approved-email-signup">Allow anyone with an <strong>@{{ emailDomain }}</strong> email address to join this organization</label>
                        </div>
                        <p class="c-signup-form__field-info" id="approved-email-reassurance">Don’t worry, they’ll have to prove that the email address belongs to them first</p>
                    </fieldset>
                {% endif %}

                <fieldset class="c-signup-form__field">
                    <label for="email-invites" class="c-signup-form__label">Invite people by email address</label>
                    <input class="c-signup-form__input js-email-invites-input" type="email" name="email-invites" id="email-invites" autocapitalize="off" spellcheck="false" autocomplete="off" multiple placeholder="e.g. woody@example.com,mr-potato-head@example.com">
                    <p class="c-signup-form__field-info">Separate multiple email addresses with a comma</p>
                </fieldset>

                <div class="c-signup-form__footer">
                    <button class="c-button--primary js-form-submit" type="submit">All done</button>
                </div>
            </form>
        </div>
        <div class="l-splash-screen__dialog-graphic" style="background-color: #2A2A3B">
        </div>

    </div>
</div>

{% endblock %}
