{% extends 'onboarding/onboarding_layout.twig' %}

{% block content %}

<div class="l-splash-screen">
    <div class="l-splash-screen__dialog">
        <div class="l-splash-screen__dialog-content">
            <form class="c-signup-form js-name-team-form">
                <div class="c-signup-form__header">
                    <h1 class="c-signup-form__title">What’s your team called?</h1>
                    <p class="c-signup-form__subtitle">This is usually the name of your organization. You can change it at any time.</p>
                </div>

                <fieldset class="c-signup-form__field">
                    <label for="organization-name" class="c-signup-form__label">Name</label>
                    <input class="c-signup-form__input js-organization-name-input" type="text" name="organization-name" id="organization-name" required="required" aria-required="true" autocomplete="off" autocapitalize="words" spellcheck="false" placeholder="e.g. Acme">
                    <div class="c-signup-form__validation-error-container" data-validation-error-container="name"></div>
                </fieldset>

                <div class="c-signup-form__footer">
                    <button class="c-button--primary js-form-submit" type="submit" aria-disabled="true">Next</button>
                </div>
            </form>
        </div>
        <div class="l-splash-screen__dialog-graphic">
        </div>

    </div>
</div>

{% endblock %}
