{% extends 'base_layout.twig' %}

{% block page_content %}
    {% include '_app_mobile_navigation.twig' %}

    <div class="l-app-default__wrapper js-page-content" tabindex="-1">
        {% include '_app_standard_navigation.twig' %}
        {% block navigational_header %}{% endblock %}

        <div class="l-app-default__main-content-outer-container">
            <main class="l-app-default__main-content-inner-container{% if slim_layout is defined and slim_layout is same as(true) %}--slim{% endif %}">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
