<mobile-navigation-toggle>
    <button type="button" aria-label="Menu" class="c-app-header__top-bar-menu-button js-button" aria-controls="mobile-navigation-panel">
        <svg class="c-app-header__top-bar-menu-icon" aria-hidden="true"><use xlink:href="#icon-sprite__menu"/></svg>
    </button>
</mobile-navigation-toggle>
