{% if search_results is not empty %}
    <ol class="c-search-results js-search-results-list">
        {% include '_search_results_list_items.twig' %}
    </ol>
{% else %}
    <div class="c-empty-search">
        <p class="c-empty-search__notice">No results found for “{{ search_query }}”.</p>

        <p class="c-empty-search__tip">You might want to try:</p>
        <ul class="c-empty-search__tips-list">
            <li class="c-empty-search__tips-list-item">Searching for one thing or another using the word “or”, e.g. this or that</li>
            <li class="c-empty-search__tips-list-item">Searching for an exact phrase using quotes, e.g. "search for this phrase"</li>
            <li class="c-empty-search__tips-list-item">Searching for results that include one thing but not another using a minus symbol, e.g. this -that</li>
        </ul>
    </div>
{% endif %}
