{% extends 'base_layout.twig' %}

{% block content %}

<div class="js-navigation-container">
    {% include 'navigation.twig' with {title: 'hleo'} %}
</div>
<div class="editor-container">
    <div class="js-article-editor text-editor">
        <p>start typing...</p>
    </div>
</div>

{% endblock %}
