<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    </head>
    <body>
        {# {% include 'navigation.twig' with {title: 'Loading…'} %} #}
        <div class="js-navigation-container"></div>
        <div class="js-article-editor">
            <p>Some intial text</p>
        </div>

        <script src="{{ asset('app.js') }}"></script>
    </body>
</html>
