<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    </head>
    <body>
        <div class="js-navigation-container">
            {% include 'navigation.twig' with {title: 'hleo'} %}
        </div>
        <div class="editor-container">
            <div class="js-article-editor text-editor">
                <p>start typing...</p>
            </div>
        </div>
        <script src="{{ asset('app.js') }}"></script>
    </body>
</html>
