<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    </head>
    <body>
        <div class="page-container">
            <div class="signup-container">
                <form id="signup-form" action="/signup" method="post">
                    <div class="signup-form">
                        <div class="form-title">
                            <h1>Sign up</h1>
                        </div>
                        <div class="form-group">
                            <label for="text-name" class="text-label">Full name<span class="required">*</span></label>
                            <input type="text" class="form-control" name="text-name" id="text-name" required="required" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label for="text-email" class="text-label">Email<span class="required">*</span></label>
                            <input type="email" class="form-control" name="text-email" id="text-email" required="required" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label for="text-password" class="text-label">Password<span class="required">*</span></label>
                            <input type="password" class="form-control" name="text-password" id="text-password" required="required" aria-required="true">
                        </div>
                        <div class="form-group field-checkbox-group-policy">
                            <label for="field-checkbox-group-policy" class="checkbox-group-label">Agree with our shit<span class="required">*</span></label>
                            <div class="checkbox-group">
                                <div class="checkbox">
                                    <input name="checkbox-policy" id="checkbox-group-policy" aria-required="true" value="policy" type="checkbox" checked="checked">
                                    <label for="checkbox-group-policy">I agree</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-control" name="button-submit" id="button-submit" value="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script src="{{ asset('app.js') }}"></script>
    </body>
</html>
