<h1>You’re in. Welcome to hleo! 👋</h1>
<h2>Choose your first adventure</h2>

<ol>
    <li>
        <a href="/docs/new">
            <h3>Start adding docs for everyone</h3>
            <p>Your organisation’s doc library is great for stuff that’s of interest to everyone, like company policies</p>
        </a>
    </li>
    <li>
        <a href="/teams/new">
            <h3>Create a team</h3>
            <p>Every team in your organization can have its own space and its own set of docs</p>
        </a>
    </li>
    <li>
        <a href="/projects/new">
            <h3>Make a new project</h3>
            <p>Projects are a great place to keep info about things that multiple teams are working on together</p>
        </a>
    </li>
</ol>

<small>You can search across all docs in hleo at the same time no matter where you put them</small>

<button class="js-skip-intro" type="button">I’d just like to explore</button>
