$config: (
    dark: (
        100: #e7e9eb,
        200: #d0d4d7,
        300: #b9bfc4,
        400: #a2aab0,
        500: #8b959c,
        600: #747f89,
        700: #5d6a75,
        800: #465561,
        900: #2f404e,
        1000: #182b3a,
        1100: #011627,
    ),
    grey: (
        100: #f4f6f7,
        200: #e9eeef,
        300: #dee5e7,
        400: #d3dde0,
        500: #c8d4d8,
        600: #beccd0,
        700: #b3c3c8,
        800: #a8bbc1,
        900: #9db2b9,
        1000: #92aab1,
        1100: #88a2aa,
    ),
    primary: (
        100: #e9f1fd,
        200: #d4e3fc,
        300: #bfd5f8,
        400: #a9c8f9,
        500: #94baf8,
        600: #7facf6,
        700: #6a9ef5,
        800: #5491f4,
        900: #3f83f2,
        1000: #2a75f1,
        1100: #1568f0,
    ),
    secondary: (
        1100: #0dc866,
    ),
);
