$config: (
    global: (
        color: (
            primary: #11ae83,
            white: #fefeff,
            dark: #3d3d3d,
            error: #f5515f,
        ),
        font: (
            stack: "'Proxima Nova Soft', sans-serif",
        ),
    ),
    element: (
        page: (
            background-color: #fcfcfc,
            foreground-color: '_self.global.color.dark',
        ),
        input: (
            background-color: #fff,
            border-color: #c4c2c5,
            border-radius: 4px,
            border-width: 1px,
            box-shadow: none,
            height: 44px,
            padding: 14px,
            placeholder-color: #b0aeb1,
            text-color: '_self.global.color.dark',
            focused: (
                border-color: #2786ee,
            ),
            disabled: (
                opacity: .2,
            ),
        ),
        textarea: (
            height: 140px,
            line-height: 22px,
            resize: none,
        ),
    ),
    layout: (
        sheet: (
            background-color: #fcfcfc,
        ),
    ),
);

@function split-str($string, $separator) {
    $split-arr: ();
    $index: str-index($string, $separator);

    @while $index != null {
        $item: str-slice($string, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $string: str-slice($string, $index + 1);
        $index: str-index($string, $separator);
    }

    $split-arr: append($split-arr, $string);
    @return $split-arr;
}

// Usage: config-get('namespace', 'subnamespace', 'property');
// * E.g. config-get('global', 'color', 'primary');
// * E.g. config-get('element', 'box-input', 'background-color');
@function config-get($args...) {
    $c: $config;

    @each $arg in $args {
        @if map-has-key($c, $arg) == false {
            @warn 'Config entry not found';
        }
        $c: map-get($c, $arg);
    }

    @if type-of($c) == 'string' and str-index($c, '_self.') != null {
        $pointer: str-slice($c, str-length('_self.') + 1);
        $pointer-list: split-str($pointer, '.');
        @return config-get($pointer-list...);
    }

    @return $c;
}
