@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'sass:string';
@use 'config/global';
@use 'config/color-shades';
@use 'config/element';
@use 'config/layout';
@use 'config/breakpoints';

$config: ();

$config: map.merge($config, ('global': global.$config));
$config: map.merge($config, ('color-shades': color-shades.$config));
$config: map.merge($config, ('element': element.$config));
$config: map.merge($config, ('layout': layout.$config));
$config: map.merge($config, ('breakpoints': breakpoints.$config));

// Usage: config-get('namespace', 'subnamespace', 'property');
// * E.g. config-get('global', 'color', 'primary');
// * E.g. config-get('element', 'box-input', 'background-color');
@function config-get($args...) {
    $c: $config;

    @each $arg in $args {
        @if map.has-key($c, $arg) == false {
            @warn 'Config entry not found';
        }
        $c: map.get($c, $arg);
    }

    @return $c;
}
