<header class="c-app-header--hide-at-medium has-adjacent-tabs">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        {% if extended_view is not defined or extended_view is same as(false) %}
            <div class="c-app-header__compass">
                <span class="c-app-header__compass-entity">Team</span>
                <span class="c-app-header__compass-name">{{ team.name }}</span>
            </div>
        {% endif %}
    </div>
</header>

<div class="c-section-header{% if extended_view is not defined or extended_view is same as(false) %}--hide-at-small{% endif %} has-adjacent-tabs">
    <span class="c-section-header__title-label">Team</span>
    <h1 class="c-section-header__title">{{ team.name }}</h1>

    {% if team.description is null or team.description is empty %}
        <p class="c-section-header__subheading">This team doesn’t have a description yet</p>
    {% else %}
        <p class="c-section-header__subheading">{{ team.description }}</p>
    {% endif %}

    <div class="c-section-header__attribution">
        <div class="c-section-header__attribution-avatar--blank"></div>
        <span class="c-section-header__attribution-copy--muted">No one leads this team</span>
    </div>

    {% if current_user_is_in_team %}
        <div class="c-section-header__actions">
            <button type="button" aria-label="Edit team" class="c-section-header__action-button">
                <svg class="c-section-header__action-button-icon--edit" aria-hidden="true"><use href="#icon-sprite__edit"/></svg>
            </button>
            <button type="button" aria-label="Team options" class="c-section-header__action-button">
                <svg class="c-section-header__action-button-icon" aria-hidden="true"><use href="#icon-sprite__options"/></svg>
            </button>
        </div>
    {% else %}
        <button type="button">Join this team</button>
    {% endif %}
</div>
