<nav class="c-tab-bar">
    <ol class="c-tab-bar__list">
        <li class="c-tab-bar__item">
            <a href="/teams/{{ team.urlSlug }}" class="c-tab-bar__item-control"{% if active_tab == 'home' %} aria-selected="true"{% endif %}>Home</a>
        </li>
        <li class="c-tab-bar__item">
            <a href="/teams/{{ team.urlSlug }}/docs" class="c-tab-bar__item-control"{% if active_tab == 'docs' %} aria-selected="true"{% endif %}>Docs</a>
        </li>
        <li class="c-tab-bar__item">
            <a href="/teams/{{ team.urlSlug }}/members" class="c-tab-bar__item-control"{% if active_tab == 'members' %} aria-selected="true"{% endif %}>Members</a>
        </li>
    </ol>
</nav>
