{% extends '_app_default_layout.twig' %}

{% block navigational_header %}{% include 'team/_team_header.twig' with { activeTab: 'docs' } %}{% endblock %}

{% block content %}

<header class="c-page-header">
    {% include '_breadcrumb_list.twig' %}

    <h1 class="c-page-header__title">{{ section.name }}</h1>

    {% if section.description is null or section.description is empty %}
        <p class="c-page-header__subheading--muted">This section doesn’t have a description yet</p>
    {% else %}
        <p class="c-page-header__subheading">{{ section.description }}</p>
    {% endif %}

    {% if current_user_is_in_team %}
        <button type="button" aria-label="Edit section" class="c-page-header__edit-button">
            <svg class="c-page-header__edit-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
        </button>
    {% endif %}
</header>

{% if knowledgebase_entries is not empty %}
    {% include '_knowledgebase_entries.twig' %}
{% endif %}

{% include '_floating_knowledgebase_button.twig' %}

{% endblock %}
