{% extends '_app_default_layout.twig' %}

{% block navigational_header %}
<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">Teams</span>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<h1 class="c-page-title--hide-below-medium">Teams at {{ organization.name }}</h1>

<ol class="c-card-list--pad-bottom">
    {% for team in teams_list %}
        {% include '_card_list_item.twig' with {
            avatar_initials: team.name|trim|first|upper,
            avatar_type: 'initials',
            link_href: team.route,
            timestamp: team.created,
            timestamp_label: 'Created',
            title: team.name,
            description: team.description,
        } only %}
    {% endfor %}
</ol>

{% endblock %}
