{% extends '_app_default_layout.twig' %}

{% block navigational_header %}{% include 'team/_team_header.twig' with { activeTab: 'home' } %}{% endblock %}

{% block content %}

<header class="c-page-header">
    <span class="c-page-header__title-label">Team</span>
    <h1 class="c-page-header__title">{{ team.name }}</h1>

    {% if team.description is null or team.description is empty %}
        <p class="c-page-header__subheading--muted">This team doesn’t have a description yet</p>
    {% else %}
        <p class="c-page-header__subheading">{{ team.description }}</p>
    {% endif %}

    <div class="c-page-header__attribution">
        <div class="c-page-header__attribution-avatar--blank"></div>
        <span class="c-page-header__attribution-copy--muted">No one leads this team</span>
    </div>

    {% if current_user_is_in_team %}
        <button type="button" aria-label="Edit team" class="c-page-header__edit-button">
            <svg class="c-page-header__edit-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
        </button>
    {% endif %}
</header>

<section class="c-page-section">
    <div class="c-page-section__header">
        <h2 class="c-page-section__title">Activity</h2>
    </div>

    <div class="c-page-section__content">
        <ol class="c-activity-feed">
            {% include 'activity/_activity_feed_list.twig' %}
        </ol>
    </div>
</section>

{% endblock %}
