{% extends '_app_default_layout.twig' %}

{% block navigational_header %}{% include 'team/_team_header.twig' with { activeTab: 'home' } %}{% endblock %}

{% block content %}

<header class="c-page-header">
    <span class="c-page-header__title-label">Team</span>
    <h1 class="c-page-header__title">{{ team.name }}</h1>

    {% if team.description is null or team.description is empty %}
        <p class="c-page-header__subheading--muted">This team doesn’t have a description yet</p>
    {% else %}
        <p class="c-page-header__subheading">{{ team.description }}</p>
    {% endif %}

    <div class="c-page-header__attribution">
        <div class="c-page-header__attribution-avatar--blank"></div>
        <span class="c-page-header__attribution-copy--muted">No one leads this team</span>
    </div>

    {% if current_user_is_in_team %}
        <button type="button" aria-label="Edit team" class="c-page-header__edit-button">
            <svg class="c-page-header__edit-button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__edit"/></svg>
        </button>
    {% endif %}
</header>

<section class="c-page-section">
    <h2 class="c-page-section__title">Team links</h2>

    <div class="c-page-section__content--contained">
        <div class="c-banner">
            <h3 class="c-banner__title">Bring your tools together</h3>
            <p class="c-banner__copy">Add links to Slack, Trello, GitHub, and more to help members of this team and others find you elsewhere.</p>
            <button type="button" class="c-banner__cta--alt">Add a link</button>
        </div>
    </div>
</section>

<section class="c-page-section">
    <h2 class="c-page-section__title">Pinned docs</h2>

    <div class="c-page-section__content--contained">
        <div class="c-banner">
            <h3 class="c-banner__title">Curate your knowledge</h3>
            <p class="c-banner__copy">Pin docs that you want people to find right away. It’s perfect for things like new starter onboarding guides.</p>
            <a href="/teams/{{ team.urlId }}/docs" class="c-banner__cta">Find docs to pin</a>
        </div>
    </div>
</section>

{% endblock %}
