@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('../fonts/proximanovasoft-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('../fonts/proximasoft-regularit-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('../fonts/proximanovasoft-medium-webfont.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('../fonts/proximanovasoft-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('../fonts/proximasoft-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
