.l-team-page__global-header,
.l-team-page__page-header {
    background-image: linear-gradient(90deg, #7474bf 0%, #348ac7 100%);
}

.l-team-page__global-header-content {
    display: flex;
    margin: 0 auto;
    max-width: 1240px;
    padding: 20px 0 0;
}

.l-team-page__global-header-brand {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 27px 0 0;
    padding: 8px 0;
}

.l-team-page__global-header-brand a {
    color: #fefeff;
    text-decoration: none;
    @include font-smoothing;
}

.l-team-page__global-header-search {
    background: transparent;
    border: 0;
    font-size: 0;
    margin: 0 38px 0 0;
    padding: 0;
}

.l-team-page__global-header-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.l-team-page__global-header-navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.l-team-page__global-header-navigation-list-item {
    display: inline-block;
    margin: 0 32px 0 0;
}

.l-team-page__global-header-navigation-list-item:last-child {
    margin-right: 0;
}

.l-team-page__global-header-navigation-list-link {
    color: #fefeff;
    display: block;
    font-size: 18px;
    line-height: 18px;
    padding: 12px 0 10px;
    text-decoration: none;
    @include font-smoothing;
}

.l-team-page__global-header-navigation-stuff {
    display: flex;
}

.l-team-page__global-header-new-button {
    background: transparent;
    border: 0;
    font-size: 0;
    margin: 0 20px 0 0;
    padding: 0;
}

.l-team-page__global-header-account-button {
    background-image: linear-gradient(180deg, #fad961 0%, #fad757 100%);
    border: 0;
    border-radius: 100%;
    color: #fefeff;
    height: 40px;
    width: 40px;
}

.l-team-page__page-header-content {
    margin: 0 auto;
    max-width: 1240px;
    padding: 60px 0;
}

.l-team-page__page-header-context {
    color: #fafafc;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 0 0 8px;
    text-transform: uppercase;
    @include font-smoothing;
}

.l-team-page__page-header-title {
    color: #fafafc;
    font-size: 48px;
    font-weight: 700;
    margin: 0 0 22px;
    @include font-smoothing;
}

.l-team-page__page-header-description {
    color: #fafafc;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin: 0 0 28px;
    max-width: 480px;
    @include font-smoothing;
}

.l-team-page__page-header-label {
    background: rgba(#3D3D3D, .25);
    border-radius: 12px;
    display: inline-flex;
    padding: 4px 5px;
}

.l-team-page__page-header-label-text {
    color: #fafafc;
    font-size: 16px;
    line-height: 18px;
    padding: 0 8px;
    @include font-smoothing;
}
