html {
    background: config-get(element, page, background-color);
    box-sizing: border-box;
    color: config-get(element, page, foreground-color);
    font-family: unquote(config-get(global, font, stack));
    min-height: 100%;
    overflow-x: hidden;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}
