@use 'sass:string';
@use '../config/config';

html {
    background: config.config-get(element, page, background-color);
    box-sizing: border-box;
    color: config.config-get(element, page, foreground-color);
    font-family: string.unquote(config.config-get(global, font, stack));
    min-height: 100%;
    overflow-x: hidden;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}
