@use '../config/config';
@use '../helper/breakpoint';
@use '../helper/font-smoothing';

$app-header-background-color: #f7f8fa;
$app-header-border-radius: 0 0 12px 12px;
$app-header-box-shadow: 0 2px 4px 0 rgba(200, 212, 216, .3);

$app-header-compass-text-color: config.config-get(color-shades, dark, 700);

%c-app-header {
    background-color: $app-header-background-color;
    padding: 0 0 12px;
    position: relative;
}

.c-app-header,
.c-app-header--hide-at-medium {
    @extend %c-app-header;
}

.c-app-header--hide-at-medium {
    @include breakpoint.breakpoint(app, medium) {
        display: none;
    }
}

.c-app-header__top-bar {
    display: grid;
    grid-template-columns: 48px 1fr 48px;
}

.c-app-header__top-bar,
.c-app-header__top-bar--full {
    @include breakpoint.breakpoint(app, medium) {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1240px + 32px;
        padding: 0 16px;
    }
}

.c-app-header__compass {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 6px 0 0;

    @include breakpoint.breakpoint(app, medium) {
        align-items: flex-start;
        margin-left: 16px;
    }

    @include breakpoint.breakpoint(app, large) {
        margin-left: 0;
    }
}

.c-app-header__compass-entity {
    color: $app-header-compass-text-color;
    font-size: 10px;
    font-weight: 600;
    line-height: 10px;
    opacity: 0.8;
    text-transform: uppercase;
    @include font-smoothing.font-smoothing;
}

.c-app-header__compass-name {
    color: $app-header-compass-text-color;
    font-size: 16px;
    font-weight: 500;
    margin-top: 9px;
    @include font-smoothing.font-smoothing;

    @include breakpoint.breakpoint(app, medium) {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        color: config.config-get(color-shades, dark, 800);
    }
}

.c-app-header__compass-entity + .c-app-header__compass-name {
    margin-top: 0;
}

.c-app-header__top-bar-menu-toggle {
    @include breakpoint.breakpoint(app, medium) {
        display: none;
    }
}

%c-app-header__top-bar-button {
    align-items: center;
    background: transparent;
    border: 0;
    box-shadow: none;
    display: flex;
    height: 48px;
    justify-content: center;
    padding: 0;
    position: relative;
    width: 48px;
    z-index: 0;
}

%c-app-header__top-bar-button:focus {
    outline: 0;
}

%c-app-header__top-bar-button:focus::before {
    background-color: rgba(config.config-get(color-shades, grey, 1100), .1);
    border-radius: 2px;
    bottom: 6px;
    content: '';
    left: 6px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: -1;
}

%c-app-header__top-bar-button-icon {
    fill: config.config-get(color-shades, dark, 700);
    height: 24px;
    width: 24px;
}

.c-app-header__top-bar-menu-button,
.c-app-header__top-bar-options-button {
    @extend %c-app-header__top-bar-button;
}

.c-app-header__top-bar-menu-icon,
.c-app-header__top-bar-options-icon {
    @extend %c-app-header__top-bar-button-icon;
}

.c-app-header__tab-bar {
    @include breakpoint.breakpoint(app, medium) {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.c-app-header__tab-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-app-header__tab-list-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.c-app-header__tab-list-item-control {
    align-items: center;
    color: config.config-get(color-shades, grey, 1100);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    line-height: 16px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    @include font-smoothing.font-smoothing;

    @include breakpoint.breakpoint(app, medium) {
        font-weight: 600;
        width: 125px;
    }
}

.c-app-header__tab-list-item-control:focus {
    outline: none;
}

.c-app-header__tab-list-item-control::before {
    border-radius: 6px;
    bottom: 8px;
    content: '';
    left: 12px;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;

    @include breakpoint.breakpoint(app, medium) {
        border-radius: 16px;
    }
}

.c-app-header__tab-list-item-control:focus::before {
    background-color: rgba(config.config-get(color-shades, grey, 1100), .1);
}

.c-app-header__tab-list-item-control[aria-selected="true"] {
    color: config.config-get(global, color, white);
}

.c-app-header__tab-list-item-control[aria-selected="true"]::before {
    background-color: config.config-get(color-shades, primary, 900);

    @include breakpoint.breakpoint(app, medium) {
        box-shadow: 0 1px 9px 0 rgba(63,131,242,0.36);
        border-radius: 16px;
    }
}

.c-app-header__tab-list-item-control[aria-selected="true"]:focus::before {
    background-color: config.config-get(color-shades, primary, 1100);
}
