.c-avatar {
    align-items: center;
    background-image: linear-gradient(180deg, #f5515f 0%, #f44756 100%);
    border-radius: 100%;
    display: flex;
    font-size: 32px;
    height: 32px;
    justify-content: center;
    width: 32px;
}

.c-avatar__initials {
    color: config-get(global, color, white);
    font-size: .4375em;
    font-weight: 700;
    line-height: .4375em;
    @include font-smoothing;
}
