@use 'sass:color';
@use '../config/config';
@use '../helper/font-smoothing';

$_document-color: config.config-get(color-shades, primary, 800);
$_document-gradient-from: rgba($_document-color, .2);
$_document-gradient-to: rgba(color.adjust($_document-color, $lightness: 5%), .2);

$_topic-color: config.config-get(color-shades, secondary, 1100);
$_topic-gradient-from: rgba($_topic-color, .2);
$_topic-gradient-to: rgba(color.adjust($_topic-color, $lightness: 5%), .2);

$_focused-box-shadow: 0 0 0 3px config.config-get(color-shades, primary, 600);

%c-avatar {
    align-items: center;
    border-radius: 100%;
    display: flex;
    font-size: 32px;
    height: 32px;
    justify-content: center;
    text-decoration: none;
    width: 32px;
}

%c-avatar:focus {
    box-shadow: $_focused-box-shadow;
    outline: 0;
}

.c-avatar,
.c-avatar--document,
.c-avatar--topic {
    @extend %c-avatar;
}

.c-avatar {
    background-image: linear-gradient(180deg, #f5515f 0%, #f44756 100%);
}

.c-avatar--document {
    background-image: linear-gradient(180deg, $_document-gradient-from 0%, $_document-gradient-to 100%);
}

.c-avatar--topic {
    background-image: linear-gradient(180deg, $_topic-gradient-from 0%, $_topic-gradient-to 100%);
}

.c-avatar__icon {
    height: .625em;
    width: .625em;
}

.c-avatar--document .c-avatar__icon {
    fill: $_document-color;
}

.c-avatar--topic .c-avatar__icon {
    fill: $_topic-color;
}

.c-avatar__initials {
    color: config.config-get(global, color, white);
    font-size: .4375em;
    font-weight: 700;
    line-height: .4375em;
    @include font-smoothing.font-smoothing;
}
