@use 'config/config';
@use 'helper/breakpoint';
@use '../component/base-list';
@use 'component/base-card';

.c-card-list {
    @extend %c-base-list;
    @extend %c-base-list--responsive;
}

.c-card-list--pad-bottom {
    @extend %c-base-list;
    @extend %c-base-list--pad-bottom;
    @extend %c-base-list--responsive;
}

%c-card-list__item {
    @extend %c-base-list__item;
    @extend %c-base-list__item--with-avatar;
    @extend %c-base-list__item--with-avatar--responsive;
}

%c-card-list__item::after {
    @include breakpoint.breakpoint(app, medium) {
        display: none !important;
    }
}

.c-card-list__item,
.c-card-list__item--discreet {
    @extend %c-card-list__item;
}

.c-card-list__item {
    @include breakpoint.breakpoint(app, medium) {
        @include base-card.card;
    }
}

.c-card-list__item--discreet {
    @include breakpoint.breakpoint(app, medium) {
        @include base-card.card('discreet');
    }
}

.c-card-list__item-link {
    @extend %c-base-list__item-link;

    @include breakpoint.breakpoint(app, medium) {
        padding: 0;
        position: static;
        @include base-card.card__link-wrap;
    }
}

.c-card-list__item-link:focus {
    @include breakpoint.breakpoint(app, medium) {
        background-color: transparent;
    }
}

.c-card-list__item-avatar {
    @extend %c-base-list__item-avatar;

    @include breakpoint.breakpoint(app, medium) {
        margin-left: 0 !important;
        @include base-card.card__avatar;
    }
}

.c-card-list__item--discreet .c-card-list__item-avatar {
    @include breakpoint.breakpoint(app, medium) {
        @include base-card.card__avatar('discreet');
    }
}

.c-card-list__item-title {
    @extend %c-base-list__item-title;

    @include breakpoint.breakpoint(app, medium) {
        margin-left: 0 !important;
        @include base-card.card__title;
    }
}

.c-card-list__item--discreet .c-card-list__item-title {
    @include breakpoint.breakpoint(app, medium) {
        @include base-card.card__title('discreet');
    }
}

.c-card-list__item-description {
    @extend %c-base-list__item-description;

    @include breakpoint.breakpoint(app, medium) {
        margin-left: 0 !important;
        @include base-card.card__description;
    }
}

.c-card-list__item-meta {
    @extend %c-base-list__item-meta;

    @include breakpoint.breakpoint(app, medium) {
        margin-left: 0 !important;
        @include base-card.card__meta;
    }
}

.c-card-list__item-timestamp {
    @extend %c-base-list__item-timestamp;

    @include breakpoint.breakpoint(app, medium) {
        margin-left: 0 !important;
        @include base-card.card__timestamp;
    }
}
