.c-document-editor-document {
    color: config-get(color-shades, dark, 900);
    font-size: 18px;
}

.c-document-editor-document [contenteditable] {
    outline: 0;
    white-space: pre-wrap;
    white-space: break-spaces;
}

.c-document-editor-document {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre,
    blockquote,
    ul,
    ol {
        margin-left: 16px;
        margin-right: 16px;
    }
}

.c-document-editor-document p {
    line-height: 26px;
}

.c-document-editor-document .ProseMirror > p.is-empty:first-child::before {
    color: config-get(color-shades, grey, 500);
    content: 'Start writing your doc…';
    cursor: text;
    float: left;
    height: 0;
    @include font-smoothing;
}
