@use '../config/config';
@use '../helper/breakpoint';
@use '../helper/font-smoothing';
@use '../component/base-list';

$content-left-offset-profile-card-medium-bp: 98px;
$profile-card-avatar-size-medium-bp: 80px;

.c-list {
    @extend %c-base-list;
    @extend %c-base-list--responsive;
}

.c-list--pad-bottom {
    @extend %c-base-list;
    @extend %c-base-list--pad-bottom;
    @extend %c-base-list--responsive;
}

%c-list__item {
    @extend %c-base-list__item;
    @extend %c-base-list__item--responsive;
}

.c-list__item--with-avatar,
.c-list__item--profile-card {
    @extend %c-list__item;
}

.c-list__item-link {
    @extend %c-base-list__item-link;
    @extend %c-base-list__item-link--responsive;
}

.c-list__item--profile-card .c-list__item-link {
    @include breakpoint.breakpoint(app, medium) {
        justify-content: center;
        min-height: $profile-card-avatar-size-medium-bp + (base-list.$list-padding-medium-bp * 2);
    }
}

.c-list__item-avatar {
    @extend %c-base-list__item-avatar;
    @extend %c-base-list__item-avatar--responsive;
}

.c-list__item--profile-card .c-list__item-avatar {
    @include breakpoint.breakpoint(app, medium) {
        font-size: $profile-card-avatar-size-medium-bp;
        height: $profile-card-avatar-size-medium-bp;
        width: $profile-card-avatar-size-medium-bp;
    }
}

.c-list__item-icon {
    fill: config.config-get(color-shades, primary, 800);
    height: 16px;
    width: 16px;
    position: absolute;
    top: base-list.$list-padding + 4px;

    @include breakpoint.breakpoint(app, medium) {
        top: base-list.$list-padding-medium-bp + 4px;
    }
}

.c-list__item-title {
    @extend %c-base-list__item-title;
    @extend %c-base-list__item-title--responsive;
}

.c-list__item--profile-card .c-list__item-title {
    @include breakpoint.breakpoint(app, medium) {
        margin-bottom: 8px;
    }
}

.c-list__item-description {
    @extend %c-base-list__item-description;
    @extend %c-base-list__item-description--responsive;
}

.c-list__item--profile-card .c-list__item-description {
    @include breakpoint.breakpoint(app, medium) {
        margin-bottom: 0;
    }
}

.c-list__item-meta {
    @extend %c-base-list__item-meta;
    @extend %c-base-list__item-meta--responsive;
}

.c-list__item--with-avatar {
    @extend %c-base-list__item--with-avatar;
    @extend %c-base-list__item--with-avatar--responsive;
}

.c-list__item--profile-card {
    .c-list__item-title,
    .c-list__item-description,
    .c-list__item-meta {
        margin-left: base-list.$content-left-offset-with-avatar;

        @include breakpoint.breakpoint(app, medium) {
            margin-left: $content-left-offset-profile-card-medium-bp;
        }
    }
}
