@use 'sass:color';
@use '../config/config';
@use 'helper/breakpoint';
@use '../helper/font-smoothing';
@use 'helper/unstyled-button';

$page-header-padding: 24px 16px 32px;

$_actions-margin: 24px 0 0;

$_action-dimension: 46px;
$_action-background-color: config.config-get(color-shades, dark, 100);
$_action-background-dimension: 32px;
$_action-background-offset: ($_action-dimension - $_action-background-dimension) / 2;

$_action-confirm-background-color: config.config-get(color-shades, secondary, 1100);

$_action-icon-dimension: 18px;
$_action-icon-fill: config.config-get(color-shades, dark, 800);

$_action-confirm-icon-fill: config.config-get(global, color, white);

$_primary-action-background-color: config.config-get(color-shades, primary, 1100);
$_primary-action-box-shadow: 0 1px 9px rgba($_primary-action-background-color, .45);
$_primary-action-color: config.config-get(global, color, white);
$_primary-action-font-size: 16px;
$_primary-action-font-weight: 600;
$_primary-action-height: 46px;
$_primary-action-padding: 12px 16px 12px 20px;
$_primary-action-border-radius: $_primary-action-height / 2;
$_primary-action-focus-box-shadow: 0 0 0 3px rgba($_primary-action-background-color, .45);

$_primary-action-icon-background-color: config.config-get(color-shades, primary, 800);
$_primary-action-icon-background-dimension: 32px;
$_primary-action-icon-fill: config.config-get(global, color, white);
$_primary-action-icon-dimension: 20px;
$_primary-action-icon-margin: 0 0 0 15px;

:root.is-editing-page-header .c-standard-nav,
:root.is-editing-page-header .c-app-header,
:root.is-editing-page-header .c-page-header ~ * {
    opacity: .4;
    pointer-events: none;
}

.c-page-header {
    padding: $page-header-padding;
    position: relative;

    @include breakpoint.breakpoint(app, medium) {
        padding-bottom: 42px;
        padding-top: 0;
    }
}

.c-page-header .c-breadcrumb-list {
    margin-top: -16px;
}

.c-page-header__title-label {
    color: config.config-get(color-shades, grey, 1100);
    display: block;
    font-size: 10px;
    font-weight: 600;
    margin: 0 0 4px;
    text-transform: uppercase;
    @include font-smoothing.font-smoothing;
}

.c-page-header__title,
.c-page-header__subheading,
.c-page-header__subheading--muted {
    background: transparent;
    border: 0;
    box-shadow: none;
    height: auto;
    padding: 0;
    width: 100%;
}

.c-page-header__title::placeholder,
.c-page-header__subheading::placeholder {
    color: config.config-get(color-shades, grey, 500);
}

.c-page-header__title {
    color: config.config-get(color-shades, dark, 900);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    min-height: 38px;
    width: calc(100% - 60px);
    @include font-smoothing.font-smoothing;
}

%c-page-header__subheading {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 0;
    @include font-smoothing.font-smoothing;
}

.c-page-header__subheading,
.c-page-header__subheading--muted {
    @extend %c-page-header__subheading;
}

.c-page-header__subheading {
    color: config.config-get(color-shades, dark, 900);
}

.c-page-header__subheading--muted {
    color: config.config-get(color-shades, dark, 400);
}

.c-page-header__attribution {
    align-items: center;
    display: flex;
    margin: 16px 0 0;
}

%c-page-header__attribution-avatar {
    border-radius: 12px;
    height: 24px;
    width: 24px;
}

.c-page-header__attribution-avatar--blank {
    @extend %c-page-header__attribution-avatar;
    border: 1px dashed config.config-get(color-shades, grey, 500);
}

%c-page-header__attribution-copy {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 8px;
    @include font-smoothing.font-smoothing;
}

.c-page-header__attribution-copy--muted {
    @extend %c-page-header__attribution-copy;
    color: config.config-get(color-shades, dark, 400);
}

%c-page-header__action-button {
    align-items: center;
    background: transparent;
    border: 0;
    box-shadow: none;
    display: flex;
    height: 48px;
    justify-content: center;
    right: 6px;
    padding: 0;
    position: absolute;
    top: 14px;
    width: 48px;
}

%c-page-header__action-button:focus {
    outline: 0;
}

%c-page-header__action-button::before {
    border-radius: 14px;
    content: '';
    height: 28px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    z-index: -1;
}

.c-page-header__edit-button,
.c-page-header__done-button {
    @extend %c-page-header__action-button;
}

.c-page-header__edit-button::before {
    background-color: config.config-get(color-shades, grey, 200);
}

.c-page-header__edit-button:focus::before {
    background-color: color.adjust(config.config-get(color-shades, grey, 200), $lightness: -10%);
}

.c-page-header__done-button:disabled {
    opacity: .6;
}

.c-page-header__done-button::before {
    background-color: config.config-get(color-shades, secondary, 1100);
}

.c-page-header__done-button:focus::before {
    background-color: color.adjust(config.config-get(color-shades, secondary, 1100), $lightness: -10%);
}

.c-page-header__edit-button-icon {
    fill: config.config-get(color-shades, grey, 1100);
    height: 18px;
    width: 18px;
}

.c-page-header__edit-button:focus .c-page-header__edit-button-icon {
    fill: color.adjust(config.config-get(color-shades, grey, 1100), $lightness: -10%);
}

.c-page-header__done-button-icon {
    fill: config.config-get(global, color, white);
    height: 24px;
    width: 24px;
}

.c-page-header__done-button:focus .c-page-header__done-button-icon {
    fill: color.adjust(config.config-get(global, color, white), $lightness: 10%);
}

.c-page-header__actions {
    display: flex;
    justify-content: space-between;
    margin: $_actions-margin;
}

.c-page-header__actions-start,
.c-page-header__actions-end {
    position: relative;
}

.c-page-header__actions-edit,
.c-page-header__actions-start {
    display: flex;
    margin-left: -#{($_action-dimension - $_action-background-dimension) / 2};
}

.c-page-header__actions-edit {
    display: none;
}

:root.is-editing-page-header .c-page-header__actions-start,
:root.is-editing-page-header .c-page-header__actions-end {
    display: none;
}

:root.is-editing-page-header .c-page-header__actions-edit {
    display: flex;
}

%c-page-header__action {
    @extend %unstyled-button;
    align-items: center;
    display: flex;
    height: $_action-dimension;
    justify-content: center;
    position: relative;
    width: $_action-dimension;
    z-index: 0;
}

%c-page-header__action:disabled {
    opacity: .65;
}

%c-page-header__action:focus {
    outline: 0;
}

%c-page-header__action::before {
    background-color: $_action-background-color;
    border-radius: $_action-background-dimension;
    bottom: $_action-background-offset;
    content: '';
    left: $_action-background-offset;
    position: absolute;
    right: $_action-background-offset;
    top: $_action-background-offset;
    z-index: -1;
}

.c-page-header__action,
.c-page-header__action--confirm {
    @extend %c-page-header__action;
}

.c-page-header__action:focus::before {
    background-color: color.adjust($_action-background-color, $lightness: -10%);
}

.c-page-header__action--confirm::before {
    background-color: $_action-confirm-background-color;
}

.c-page-header__action--confirm:focus::before {
    background-color: color.adjust($_action-confirm-background-color, $lightness: -10%);
}

.c-page-header__action-icon {
    fill: $_action-icon-fill;
    height: $_action-icon-dimension;
    width: $_action-icon-dimension;
}

.c-page-header__action--confirm .c-page-header__action-icon {
    fill: $_action-confirm-icon-fill;
}

.c-page-header__primary-action {
    @extend %unstyled-button;
    align-items: center;
    background-color: $_primary-action-background-color;
    border-radius: $_primary-action-border-radius;
    box-shadow: $_primary-action-box-shadow;
    color: $_primary-action-color;
    display: none;
    font-size: $_primary-action-font-size;
    font-weight: $_primary-action-font-weight;
    height: $_primary-action-height;
    padding: $_primary-action-padding;
    position: relative;
    transition: box-shadow .2s;
    z-index: 0;
    @include font-smoothing.font-smoothing;

    @include breakpoint.breakpoint(app, medium) {
        display: flex;
    }
}

.c-page-header__primary-action:focus {
    box-shadow: $_primary-action-focus-box-shadow;
    outline: 0;
}

.c-page-header__primary-action::after {
    background-color: $_primary-action-icon-background-color;
    border-radius: $_primary-action-icon-background-dimension / 2;
    content: '';
    height: $_primary-action-icon-background-dimension;
    position: absolute;
    right: 10px;
    top: 7px;
    width: $_primary-action-icon-background-dimension;
    z-index: -1;
}

.c-page-header__primary-action-icon {
    fill: $_primary-action-icon-fill;
    height: $_primary-action-icon-dimension;
    margin: $_primary-action-icon-margin;
    width: $_primary-action-icon-dimension;
}
