.c-page-content {
    background-color: config-get(element, page, background-color);
    box-shadow: 0 2px 12px rgba(#000, 0);
    min-height: 100vh;
    opacity: 1;
    position: relative;
    transition: transform, box-shadow, opacity;
    transition-duration: .2s;
}

.c-page-content:focus {
    outline: 0;
}

.navigation-open .c-page-content {
    box-shadow: 0 2px 12px rgba(#000, .32);
    opacity: .95;
    transform: translate(85%, 28px);
}

.navigation-open .c-page-content > * {
    pointer-events: none;
}
