$page-header-padding: 24px 16px 32px;

.c-page-header {
    padding: $page-header-padding;
    position: relative;
}

.c-page-header__title-label {
    color: config-get(color-shades, grey, 1100);
    display: block;
    font-size: 10px;
    font-weight: 600;
    margin: 0 0 4px;
    text-transform: uppercase;
    @include font-smoothing;
}

.c-page-header__title,
.c-page-header__subheading {
    background: transparent;
    border: 0;
    box-shadow: none;
    height: auto;
    padding: 0;
    width: 100%;
}

.c-page-header__title::placeholder,
.c-page-header__subheading::placeholder {
    color: config-get(color-shades, grey, 500);
}

.c-page-header__title {
    color: config-get(color-shades, dark, 900);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    min-height: 38px;
    width: calc(100% - 60px);
    @include font-smoothing;
}

%c-page-header__subheading {
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0 0;
    @include font-smoothing;
}

.c-page-header__subheading,
.c-page-header__subheading--muted {
    @extend %c-page-header__subheading;
}

.c-page-header__subheading {
    color: config-get(color-shades, dark, 900);
}

.c-page-header__subheading--muted {
    color: config-get(color-shades, dark, 400);
}

.c-page-header__attribution {
    align-items: center;
    display: flex;
    margin: 16px 0 0;
}

%c-page-header__attribution-avatar {
    border-radius: 12px;
    height: 24px;
    width: 24px;
}

.c-page-header__attribution-avatar--blank {
    @extend %c-page-header__attribution-avatar;
    border: 1px dashed config-get(color-shades, grey, 500);
}

%c-page-header__attribution-copy {
    font-size: 14px;
    font-weight: 500;
    margin: 0 0 0 8px;
    @include font-smoothing;
}

.c-page-header__attribution-copy--muted {
    @extend %c-page-header__attribution-copy;
    color: config-get(color-shades, dark, 400);
}

%c-page-header__action-button {
    align-items: center;
    background: transparent;
    border: 0;
    box-shadow: none;
    display: flex;
    height: 48px;
    justify-content: center;
    right: 6px;
    padding: 0;
    position: absolute;
    top: 14px;
    width: 48px;
}

%c-page-header__action-button:focus {
    outline: 0;
}

%c-page-header__action-button::before {
    border-radius: 14px;
    content: '';
    height: 28px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    z-index: -1;
}

.c-page-header__edit-button,
.c-page-header__done-button {
    @extend %c-page-header__action-button;
}

.c-page-header__edit-button::before {
    background-color: config-get(color-shades, grey, 200);
}

.c-page-header__edit-button:focus::before {
    background-color: darken(config-get(color-shades, grey, 200), 10%);
}

.c-page-header__done-button:disabled {
    opacity: .6;
}

.c-page-header__done-button::before {
    background-color: config-get(color-shades, secondary, 1100);
}

.c-page-header__done-button:focus::before {
    background-color: darken(config-get(color-shades, secondary, 1100), 10%);
}

.c-page-header__edit-button-icon {
    fill: config-get(color-shades, grey, 1100);
    height: 18px;
    width: 18px;
}

.c-page-header__edit-button:focus .c-page-header__edit-button-icon {
    fill: darken(config-get(color-shades, grey, 1100), 10%);
}

.c-page-header__done-button-icon {
    fill: config-get(global, color, white);
    height: 24px;
    width: 24px;
}

.c-page-header__done-button:focus .c-page-header__done-button-icon {
    fill: lighten(config-get(global, color, white), 10%);
}
