$password-input-toggle-padding-right: config-get(element, input, padding);
$password-input-toggle-background-color: config-get(element, input, background-color);
$password-input-toggle-border-color: config-get(element, input, border-color);
$password-input-toggle-border-color--is-focused: config-get(element, input, focused, border-color);
$password-input-toggle-border-radius: config-get(element, input, border-radius);
$password-input-toggle-border-width: config-get(element, input, border-width);
$password-input-toggle-text-color: #2786ee;
$password-input-toggle-font-size: 12px;
$password-input-toggle-font-weight: 600;
$password-input-toggle-text-transform: uppercase;

.c-password-input {
    display: flex;
}

.c-password-input__input {
    border-bottom-right-radius: 0;
    border-right: 0;
    border-top-right-radius: 0;
    flex-grow: 1;
    min-width: 0;
}

.c-password-input__visibility-button {
    background-color: $password-input-toggle-background-color;
    background-image: none;
    border: $password-input-toggle-border-width solid $password-input-toggle-border-color;
    border-bottom-right-radius: $password-input-toggle-border-radius;
    border-left: 0;
    border-top-right-radius: $password-input-toggle-border-radius;
    box-shadow: none;
    color: grayscale($password-input-toggle-text-color);
    cursor: pointer;
    font-size: $password-input-toggle-font-size;
    font-weight: $password-input-toggle-font-weight;
    padding: 0 $password-input-toggle-padding-right 0 0;
    position: relative;
    text-transform: $password-input-toggle-text-transform;
    @include font-smoothing;
}

.c-password-input__visibility-button:focus {
    color: $password-input-toggle-text-color;
    outline: 0;
}

.c-password-input__visibility-button:focus::before {
    background-color: rgba(#000, .045);
    border-radius: $password-input-toggle-border-radius;
    bottom: $password-input-toggle-padding-right / 2;
    content: "";
    left: -$password-input-toggle-padding-right / 2;
    position: absolute;
    right: $password-input-toggle-padding-right / 2;
    top: $password-input-toggle-padding-right / 2;
}

.c-password-input__input:focus + .c-password-input__visibility-button {
    border-color: $password-input-toggle-border-color--is-focused;
    color: $password-input-toggle-text-color;
}
