@use 'sass:color';
@use 'config/config';
@use 'helper/breakpoint';
@use 'helper/font-smoothing';

$_background-color: #f7f8fa;
$_background-color-medium-bp: config.config-get(color-shades, dark, 100);
$_border-radius-medium-bp: 4px;
$_border-color-medium-bp: config.config-get(color-shades, dark, 100);
$_padding: 0 0 12px;

$_tab-background-color-medium-bp: #fafafc;
$_tab-color: config.config-get(color-shades, dark, 700);
$_tab-font-size: 15px;
$_tab-font-weight: 500;
$_tab-line-height: 15px;
$_tab-height: 48px;
$_tab-height-medium-bp: 44px;

$_selected-tab-color: config.config-get(global, color, white);
$_selected-tab-color-medium-bp: config.config-get(color-shades, primary, 1000);
$_selected-tab-background-color: config.config-get(color-shades, primary, 900);
$_selected-tab-background-color-medium-bp: config.config-get(color-shades, primary, 100);
$_selected-tab-font-weight-medium-bp: 600;
$_selected-tab-underline-color-medium-bp: config.config-get(color-shades, primary, 1000);

.c-tab-bar {
    background-color: $_background-color;
    padding: $_padding;

    @include breakpoint.breakpoint(app, medium) {
        background-color: $_background-color-medium-bp;
        border: 1px solid $_border-color-medium-bp;
        border-radius: $_border-radius-medium-bp;
        padding: 0;
    }
}

.c-tab-bar__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint.breakpoint(app, medium) {
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 1px;
        justify-content: normal;
    }
}

.c-tab-bar__item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}

.c-tab-bar__item-control {
    align-items: center;
    color: $_tab-color;
    display: flex;
    font-size: $_tab-font-size;
    font-weight: $_tab-font-weight;
    height: $_tab-height;
    justify-content: center;
    line-height: $_tab-line-height;
    position: relative;
    text-decoration: none;
    z-index: 0;
    @include font-smoothing.font-smoothing;

    @include breakpoint.breakpoint(app, medium) {
        background-color: $_tab-background-color-medium-bp;
        height: $_tab-height-medium-bp;
    }
}

.c-tab-bar__item:first-child .c-tab-bar__item-control {
    @include breakpoint.breakpoint(app, medium) {
        border-bottom-left-radius: $_border-radius-medium-bp;
        border-top-left-radius: $_border-radius-medium-bp;
    }
}

.c-tab-bar__item:last-child .c-tab-bar__item-control {
    @include breakpoint.breakpoint(app, medium) {
        border-bottom-right-radius: $_border-radius-medium-bp;
        border-top-right-radius: $_border-radius-medium-bp;
    }
}

.c-tab-bar__item-control:focus {
    outline: none;

    @include breakpoint.breakpoint(app, medium) {
        background-color: color.adjust($_tab-background-color-medium-bp, $lightness: -4%);
    }
}

.c-tab-bar__item-control::before {
    border-radius: 6px;
    bottom: 8px;
    content: '';
    left: 12px;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;

    @include breakpoint.breakpoint(app, medium) {
        border-radius: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
    }
}

.c-tab-bar__item-control:focus::before {
    background-color: rgba(config.config-get(color-shades, grey, 1100), .1);

    @include breakpoint.breakpoint(app, medium) {
        background-color: transparent;
    }
}

.c-tab-bar__item-control[aria-selected="true"] {
    color: $_selected-tab-color;

    @include breakpoint.breakpoint(app, medium) {
        background-color: $_selected-tab-background-color-medium-bp;
        color: $_selected-tab-color-medium-bp;
        font-weight: $_selected-tab-font-weight-medium-bp;
    }
}

.c-tab-bar__item-control[aria-selected="true"]:focus {
    @include breakpoint.breakpoint(app, medium) {
        background-color: color.adjust($_selected-tab-background-color-medium-bp, $lightness: -4%);
    }
}

.c-tab-bar__item-control[aria-selected="true"]::before {
    background-color: $_selected-tab-background-color;

    @include breakpoint.breakpoint(app, medium) {
        background-color: $_selected-tab-underline-color-medium-bp;
    }
}

.c-tab-bar__item-control[aria-selected="true"]:focus::before {
    background-color: config.config-get(color-shades, primary, 1100);

    @include breakpoint.breakpoint(app, medium) {
        background-color: $_selected-tab-underline-color-medium-bp;
    }
}
