<!DOCTYPE html>
<html>
    <head>
        <!-- ... -->
        <link rel="stylesheet" href="{{ asset('app.css') }}">
    </head>
    <body>
        <!-- ... -->
        <script src="{{ asset('app.js') }}"></script>
    </body>
</html>
