{% extends 'activity/_activity_feed_activity_layout.twig' %}

{% block text %}
    <a href="{{ activity.actor.route }}">{{ activity.actor.name }}</a> joined <strong>{{ organization.name }}</strong> on Hipper {% if activity.actor.is_current_user %}👋{% else %}{% endif %}
{% endblock %}
