{% extends 'activity/_activity_feed_activity_layout.twig' %}

{% block text %}
    {% set project_route = path('front_end.app.project.show', {
        subdomain: organization.subdomain,
        project_url_slug: activity.properties.project_url_slug
    }) %}
    <a href="{{ activity.actor.route }}">{{ activity.actor.name }}</a> created the <a href="{{ project_route }}">{{ activity.properties.project_name }}</a> project
{% endblock %}
