{% extends 'sign_up_flow/sign_up_flow_layout.twig' %}

{% block page_content %}
<div class="c-login-screen">
    <div class="c-login-screen__header">
        <a href="https://usehipper.com" target="_blank"><svg class="c-login-screen__header-logo" role="img" aria-label="Hipper"><use xlink:href="#icon-sprite__wordmark"/></svg></a>
    </div>

    <main class="c-login-screen__inner">
        <header class="c-login-screen__inner-header">
            <h1 class="c-login-screen__inner-title">Welcome, {{ current_user.name }}</h1>
            <p class="c-login-screen__inner-description">Next we need to know what your organization is called.</p>
        </header>

        <form class="js-name-organization-form" novalidate>
            <fieldset class="c-form__field">
                <label for="input-organization-name" class="c-form__label">Organization name</label>
                <input class="c-form__input" type="text" name="name" id="input-organization-name" required spellcheck="false" autocomplete="organization" minlength="3" maxlength="50" placeholder="e.g. Acme">
            </fieldset>

            <button class="c-login-screen__submit-button js-submit" type="submit" disabled autocomplete="off">Continue</button>
        </form>
    </main>
</div>
{% endblock %}
