{% extends '_app_sidebar_layout.twig' %}

{% block navigational_header %}
<header class="c-app-header--hide-at-medium">
    <div class="c-app-header__top-bar">
        {% include '_mobile_navigation_toggle.twig' %}

        <div class="c-app-header__compass">
            <span class="c-app-header__compass-name">Projects</span>
        </div>
    </div>
</header>

<div class="c-section-header--hide-at-small">
    <h1 class="c-section-header__title">Projects at {{ organization.name }}</h1>

    <p class="c-section-header__subheading">Check out what everyone is working on across all the exciting projects underway at {{ organization.name }}</p>
</div>
{% endblock %}

{% block content %}

<ol class="c-card-list--pad-bottom">
    {% for project in projects_list %}
        {% include '_card_list_item.twig' with {
            avatar_initials: project.name|trim|first|upper,
            avatar_type: 'initials',
            link_href: project.route,
            timestamp: project.created,
            timestamp_label: 'Created',
            title: project.name,
            description: project.description,
        } only %}
    {% endfor %}
</ol>

{% endblock %}
