{% extends '_app_sidebar_layout.twig' %}

{% block navigational_header %}{% include 'project/_project_header.twig' with { extended_view: true } %}{% endblock %}

{% block tab_bar %}{% include 'project/_project_tabs.twig' with { active_tab: 'home' } %}{% endblock %}

{% block content %}

<section class="c-page-section">
    <div class="c-page-section__content">
        <ol class="c-activity-feed">
            {% include 'activity/_activity_feed_list.twig' %}
        </ol>
    </div>
</section>

{% endblock %}
