{% extends 'base_layout.twig' %}

{% block content %}

{% include 'project/_project_header.twig' with { activeTab: 'docs' } %}

<main>
    <div class="c-empty-page-notice">
        <h1 class="c-empty-page-notice__title">Start sharing knowledge</h1>
        <p class="c-empty-page-notice__copy">Use docs to keep everyone in this project on the same page about how you work and what you’re working on.</p>
    </div>

    <floating-button>
        <ol class="floating-button__list js-list" hidden>
            <li class="floating-button__list-item">
                <a href="/project/{{ project.urlId }}/docs/new" class="floating-button__control">
                    <svg class="floating-button__control-icon" aria-hidden="true"><use xlink:href="#icon-sprite__doc"/></svg>
                    Add new doc
                </a>
            </li>
            <li class="floating-button__list-item">
                <a href="/project/{{ project.urlId }}/docs/new-section" class="floating-button__control">
                    <svg class="floating-button__control-icon" aria-hidden="true"><use xlink:href="#icon-sprite__section"/></svg>
                    Add new section
                </a>
            </li>
        </ol>

        <button type="button" aria-label="Add content…" class="floating-button__button js-button">
            <svg class="floating-button__button-icon" aria-hidden="true"><use xlink:href="#icon-sprite__add"/></svg>
        </button>
    </floating-button>
</main>

{% endblock %}
